@use 'colors.scss' as *;
@use 'numbers.scss' as *;
@use 'media.scss' as *;

.wrapper {
	display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
	width: $wrapper-width;
	margin: 0 auto;
}
.section {
	padding: $section-padding;
}
.section-title {
	color: $white;
}
.section-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	&__description {
		color: $gray;
		font-size: $f5;
	}
	&__title {
		color: $white;
		font-size: $section-title;
	}
}
.gradient{
    background: linear-gradient(180deg, $black 0%, $accent-two 100%);
    height: 100px;
    width: 100%;
}
.about-li{
	color: $gray;
	&::marker {
		content: url(../img/rectangle.jpg);
	}
}
.about-li--active{
	color: $white;
	&::marker{
		content: url(../img/rectangle_active.jpg);
	}
}

