//fonts-sizes
$f1: 5rem;
$f2: 4rem;
$f3: 2.4rem;
$f4: 2rem;
$f5: 1.6rem;
$f6: 1.2rem;
$section-title: 4.8rem;
//nav
$nav_pad_top: 2em;
$nav-wrap-item-pleft: 1em;

//about
$about-text-mtop: 2em;
$about-wrap-mtop: 10em;
$about-wrap-width: 100%;

$about-img-height: 335px;
$about-img-width: 50%;

$about-wrap-list-pleft: 2em;
$about-wrap-list-width: 50%;

$about-wrap-list-item-p: 1em;

//location
$location-wrap-mtop: 2em;

$location-text-p: 2em;
$location-text-width: 50%;

$location-img-width: 50%;
$location-img-img-width: 100%;

//gallery
$gallery-height: 400px;
$gallery-wrap-mtop: 5em;
$gallery-wrap-width: 100%;
$gallery-wrap-mid-width: 800px;
$gallery-wrap-mid-height: 530px;
$aside-width: 400px;
$aside-height: 300px;
$aside-left-left: -100px;
$aside-right-left: 900px;
$aside-top-px: 400px;

//footer
$footer-height: 200px;
$footer-wrap-width: 100%;
$footer-wrap-mid-padding: 0 3em;
$footer-wrap-li-padding: 1.5em; //2

//others
$b-radius: 18px;

//components

//wrapper
$wrapper-width: 1200px;
//section
$section-padding: 5em 0;