@use 'colors.scss' as *;
@use 'components.scss' as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 66.5%;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
main {
	background-color: $black;
}
.top {
	background-image: url(./mountain-8120620_1920.jpg);
	background-size: cover;
	height: 100vh;
}
.nav {
	padding-top: 2em;
    .wrapper{
        justify-content: space-between;
		flex-direction: row;
    }
	&__logo {
		font-size: 4rem;
		color: $white;
		span {
			color: $black;
		}
	}
	&__wrap {
		&-list {
			display: flex;
			list-style: none;
		}
		&-item {
			padding-left: 1em;
			font-size: 2rem;
			text-transform: uppercase;
			a {
				color: $white;
				text-decoration: none;
				transition: color 0.3s;
				&:hover {
					color: $gray;
				}
			}
		}
	}
}
.about{
    &__text{
        margin-top: 2em;
        text-align: center;
        font-size: 2.4rem;
        color: $gray;
    }
	&__wrap{
		display: flex;
		margin-top: 10em;
		width: 100%;
		&-img{
			width: 50%;
			img{
				width: 100%;
				border-radius: 18px;
			}
		}
		&-list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 2em;
			width: 50%;
			font-size: 2rem;
			color: $gray;
			text-align: center;
			li{
				padding: 1em;
				&:first-child::marker{
					content: url(../img/rectangle.jpg);
				}
				&::marker{
					content: url(../img/rectangle_active.jpg);
				}
			}
		}
	}
}
.location{
	&__wrap{
		display: flex;
		margin-top: 2em;
	}
	&__text{
		padding: 2em;
		width: 50%;
		font-size: 2rem;
		color: $gray;
		text-align: center;
	}
	&__img{
		width: 50%;
		img{
			width: 100%;
		}
	}
}




.footer{
	height: 200px;
	background-color: $accent-two;
}