@use 'colors.scss' as *;
@use 'components.scss' as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 66.5%;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
main {
	background-color: $black;
}
.top {
	background-image: url(./img/mountain-8120620_1920.jpg);
	background-size: cover;
	height: 100vh;
}
.nav {
	padding-top: 2em;
	.wrapper {
		justify-content: space-between;
		flex-direction: row;
	}
	&__logo {
		font-size: 4rem;
		color: $white;
		span {
			color: $black;
		}
	}
	&__wrap {
		&-list {
			display: flex;
			list-style: none;
		}
		&-item {
			padding-left: 1em;
			font-size: 2rem;
			text-transform: uppercase;
			a {
				color: $white;
				text-decoration: none;
				transition: color 0.3s;
				&:hover {
					color: $gray;
				}
			}
		}
	}
}
.about {
	&__text {
		margin-top: 2em;
		text-align: center;
		font-size: 2.4rem;
		color: $gray;
	}
	&__wrap {
		display: flex;
		margin-top: 10em;
		width: 100%;
		&-img {
			width: 50%;
			height: 335px;
			border-radius: 18px;
		}
		&-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 2em;
			width: 50%;
			font-size: 2rem;
			text-align: center;
			&-item {
				padding: 1em;
				transition: color 0.3s;
				cursor: pointer;
				&:hover {
					color: $white;
				}
			}
		}
	}
}
.location {
	&__wrap {
		display: flex;
		margin-top: 2em;
	}
	&__text {
		padding: 2em;
		width: 50%;
		font-size: 2rem;
		color: $gray;
		text-align: center;
	}
	&__img {
		width: 50%;
		img {
			width: 100%;
		}
	}
}
.gallery {
	height: 900px;
	.fa-solid {
		color: $white;
	}
	&__wrap {
		display: flex;
		position: relative;
		margin-top: 2em;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		&-mid {
			width: 800px;
			border: 1px solid $gray;
			border-radius: 18px;
			z-index: 2;
		}
		&-left,
		&-right {
			font-size: 5rem;
		}
		&-asideleft,
		&-asideright {
			position: absolute;
			width: 400px;
			z-index: 1;
			border: 1px solid $gray;
		}
		&-asideleft {
			top: 400px;
			left: 900px;
		}
		&-asideright {
			top: 400px;
			left: -100px;
		}
	}
}
.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 200px;
	background-color: $accent-two;
	&__wrap {
		display: flex;
		width: 100%;
		justify-content: space-between;
		&-mid {
			display: flex;
			flex-direction: column;
			padding: 0 3em;
			align-items: center;
			justify-content: center;
			h3 {
				font-size: 2rem;
				color: $white;
			}
			p {
				font-size: 1.2rem;
				color: $gray;
			}
		}
		&-left,
		&-right {
			display: flex;
			list-style: none;
			color: $gray;
			li {
				padding: 2em;
				font-size: 1.6rem;
				// &:first-child,&:last-child{
				// 	padding: 0;
				// }
			}
		}
	}
	&__text {
		color: $gray;
		text-align: center;
		font-size: 1.2rem;
	}
}
